
.container{
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* layout */
.grid{
    display: grid;
    row-gap: 60px;
}
.flex{
    display: flex;
}
.flex-c{
    align-items: center;
    justify-content: center;
}
.flex-sb{
    align-items: center;
    justify-content: space-between;
}


/* text and paras */
.text-light{
    color: var(--light-color);
}
.text-orange{
    color: var(--orange-soda-color);
}
.text-gray{
    color: var(--light-gray);
}
.text-dark{
    color: var(--dark-color);
}
.text-uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.text{
    font-family: var(--nunito-font);
    line-height: 1.3;
}

/* padding */
.py-9{
    padding: 9.5rem 0;
}

/* section title */
.section-title{
    text-align: center;
    color: var(--orange-soda-color);
    margin-bottom: 6rem;
}
.section-title h2{
    font-size: 4rem;
    margin-bottom: 2.8rem;
}
.section-title .text{
    max-width: 500px;
    margin: auto;
}

/* bgs and colors */
.bg-light{
    background-color: var(--light-color);
}
.bg-dark{
    background-color: var(--dark-color);
}
.bg-orange{
    background-color: var(--orange-soda-color);
}

/* button */
.btn{
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: 0;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 5rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 32px;
    text-align: center;
    transition: var(--transition);
}
.btn-orange{
    background-color: var(--orange-soda-color);
}
.btn-orange:hover{
    background-color: var(--light-color);
    color: var(--orange-soda-color);
}
.btn-light{
    color: var(--orange-soda-color);
    background-color: var(--light-color);
}
.btn-light:hover{
    background-color: var(--orange-soda-color);
    color: var(--light-color);
    outline: 3px solid var(--light-color);
    outline-offset: -3px;
}

/* feather icons styling & fonts */
.feather-32{
    width: 32px;
    height: 32px;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}
.fw-7{
    font-weight: 700;
}

@media(min-width: 576px){
    .section-title h2{
        font-size: 5rem;
    }
}

@media(min-width: 992px){
    .section-title h2{
        font-size: 6.3rem;
    }
    .section-title .text{
        max-width: 742px;
    }
}

@media(min-width: 1200px){
    .btn{
        min-width: 292px;
    }
}